.totalCondainer{
    width: 60%;
    margin-left: 20%;
    padding-top: 3px;
    background-color: white;
}
.head{
    width: 98%;
    height: 150px;
    background-color: black;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#title{
    color:#ffc400;
    font-size: 40px;
}
#headWrite{
    color:#ffc400;
    font-size: 20px;
}
.navigation{
    width: 98%;
    height: 45px;
    background-color: black; 
    margin: 1%;
    display: flex;
    justify-content:flex-start;
}
.link{
    text-decoration: none;
    width: 140px;
    text-align: center;
    border-right: 2px solid white ;
    color: white;
    padding-top: 10px;
}
.condainer{
    padding-top: 20px;
    margin-left: 40px;
}
.content{
    width: 70%;
}
.content2{
    padding: 20px;
}

